@import "../styles/colours.css";
@import "../styles/sizing.css";
@import "../styles/typography.css";
@import "../styles/buttons_styles.css";
@import "../styles/links_styles.css";  
@import "../styles/icon_styles.css";
@import "../styles/promo_msg_styles.css";

/* Section: Homepage Viewport */
#display_text {
    display: flex;
    flex-wrap: wrap;
    width: var(--size-full);

    /*Typography*/
    font-size: var(--text-display);
    font-weight: var(--font-weight-s);
}
#display_sub {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-sm);

    margin-top: var(--size-xxxs);
    margin-bottom: var(--size-sm);
    width: var(--size-full);
}


.homepage_vp {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
}
.homepage_msg {
    grid-column: 2/3;
    align-content: center;
}
#elf_girl {
    width: var(--size-full);
}


/* Section: Homepage middle banner */
.homepage_instruction > p {
    font-size: var(--text-md);
    color: var(--color-sub-dark);
}
.homepage_instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage_instruction > img {
    grid-row: 1/2;
    margin-bottom: var(--size-xs);

    width: var(--size-px-xll);
    height: var(--size-px-xlll);
}
.homepage_instruction > h3 {
    margin-bottom: var(--size-xxxs);
}
.homepage_instruct {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: var(--size-px-xxl);
}


#send_img {
    width: var(--size-px-gr);
}
#customise_img, #select_img {
    width: var(--size-px-xlll);
}

.homepage_card_categories {
    display: flex;
    justify-content: center;
    padding-bottom: var(--size-lx);
}
.homepage_card_categories > div + div{
   margin-left: var(--size-lx);
}
.homepage_instruct > div + div {
    margin-left: var(--size-lx);
}

/* Section: Homepage Bottom */
.homepage_bottom {
    padding-top: var(--size-lg);
    padding-bottom: var(--size-m);
}
.hp_card_box {
    width: var(--size-mega-m);
    display: flex;
    flex-direction: column;
}
.hp_card_box > img {
    width: var(--size-full);
}
.hp_card_box > h2 {
    margin-bottom: var(--size-xs);
}
.hp_card_box > a {
    display: grid;
    justify-content: flex-end;

    margin-top: var(--size-xxxs);
    font-size: var(--text-md);
}


#eco_friendly_img {
    width: var(--size-mega-b);
    height: var(--size-mega-m);
}
#eco_friendly_img > img{
    width: var(--size-full);
}


@media screen and (max-width: 1500px) {
    #display_text {
        font-size: var(--size-px-g);
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: var(--size-px-md);
    } 
}


@media screen and (max-width: 1300px) {
    .homepage_instruction > img {
        height: var(--size-px-xll);
    }
    #send_img {
        width: var(--size-px-grr);
    }
    #customise_img, #select_img {
        width: var(--size-px-xll);
    }
}

@media screen and (max-width: 1200px) {
    .hp_card_box {
        width: var(--size-footer-b);
    }
    #display_text {
        font-size: var(--size-px-xxxl);
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: var(--size-px-sm);
    }

    .homepage_instruction > img {
        height: var(--size-px-xxl);
    }
    .homepage_instruction > h3 {
        font-size: var(--text-lg);
    }
    .homepage_instruction > p {
       font-size: var(--size-px-m);
    }

    #send_img {
        width: var(--size-px-xxxl);
    }
    #customise_img, #select_img {
        width: var(--size-px-xxl);
    }
}


@media screen and (max-width: 1100px) {
    .hp_card_box {
        width: var(--size-footer-a);
    }
    #display_text {
        font-size: var(--size-px-xll);
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: var(--size-px-sm);
    }


    #eco_friendly_img {
        width: var(--size-mega-a);
        height: var(--size-mega);
    }
    .promo_msg_eco > h3 {
        padding-top: var(--size-px-xxl);
    }
}

@media screen and (max-width: 1000px) {
    .hp_card_box {
        width: var(--size-mega);
    }

    #display_text {
        font-size: var(--size-px-xxxl);
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: var(--size-px-sm);
    }


    .homepage_instruction > img {
        height: var(--size-px-xl);
    }
    .homepage_instruction > h3 {
        font-size: var(--text-lg);
    }
    .homepage_instruction > p { 
       font-size: var(--text-sm);
    }


    #send_img {
        width: var(--size-px-xlll);
    }
    #customise_img, #select_img {
        width: var(--size-px-xl);
    }
}


@media screen and (max-width: 750px) {
    #eco_friendly_img {
        width: var(--size-mega);
        height: var(--size-l);
    }


    .hp_card_box {
        width: var(--size-xxxl);
    }
    #display_text {
        font-size: var(--size-px-xll);
        font-weight: var(--font-weight-s);
    }
    .homepage_vp {
        display: grid;
        grid-template-rows: 2fr 2fr;
        grid-template-columns: 0.15fr 1fr;
    }
    .homepage_elf_img {
        grid-row: 2/3;
        grid-column: 2/3;
    }


    .homepage_instruct {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: var(--size-px-ml) var(--size-none) var(--size-none) var(--size-mega-b);
        
    }
    .homepage_instruction {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }
    .homepage_instruct > div + div {
        margin-left: var(--size-none);
    }
    .homepage_instruction > h3 {
        font-size: var(--size-px-mm);
        margin-bottom: var(--size-none);
    }
    .homepage_instruction > p {
        font-size: var(--size-px-ss);
    }
    .homepage_instruction > * {
        margin-right: var(--size-px-xs);
    }
    .homepage_instruct > div {
        margin-bottom: var(--size-px-lg);
    }


    #send_img {
        width: var(--size-px-lg);
        height: var(--size-px-md);
        margin-bottom: var(--size-none);
    }
    #customise_img, #select_img {
        width: var(--size-px-lg);
        height: var(--size-px-lg);
        margin-bottom: var(--size-none);
    }


    .homepage_card_categories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homepage_card_categories > div + div {
        margin-left: var(--size-none);
    }
    .homepage_instruct {
        padding-left: var(--size-sm);
    }
}


@media screen and (max-width: 400px) {
    .homepage_card_categories {
        padding-bottom: var(--size-m);
    }
    .homepage_bottom {
        padding-top: var(--size-m);
        padding-bottom: var(--size-m);
    }

    #eco_friendly_img {
        width: var(--size-xxxl);
        height: var(--size-l);
    }
    #display_sub {
        font-size: var(--text-x);
    }

    .hp_card_box > h2 {
        font-size: var(--text-lg);
    }
    .hp_card_box > a {
        font-size: var(--text-d);
    }
    
    .promo__title {
        font-size: var(--text-sm);
    }
}
