@import "styles/colours.css";
@import "styles/sizing.css";
@import "styles/spacing.css";
@import "styles/typography.css";
* {
    padding: var(--size-none);  
    margin: var(--size-none);  
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* Icons: main */
.nav_icons_container {
    display: flex;
    height: var(--size-full); 
    align-items: center;
    gap: var(--size-px-xxl);
}
.nav_icon {
    width: var(--size-px-sm);
    height: var(--size-px-sm);
}
.logo_img {
    width: var(--size-px-xxl);
    height: 25px;
}
/* Icons: side Nav */
#exitIcon {
    color: aqua;
}
/* Side Nav */
.hamburger_container {
    display: none;
}
#side_nav {
    height: var(--size-full); 
    width: var(--size-none);  
    position: fixed;
    z-index: 1;
    top: var(--size-none);  
    left: var(--size-none);  
    background-color: var(--color-primary);
    overflow-x: hidden;
    /* transition: 0.5s; */
    padding-top: 40px;
}
#side_nav hr {
    width: 14em;
    margin-left: 12.5px;
    color: white;
}
.side_nav_sml{
    margin-left: 3em;
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--size-px-sm);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: white;
}
.side_nav_sml_disp li{
    margin-bottom: var(--size-px-sm);
}
#side_nav a {
    color: white;
}
ul li {
    transform: translateX(0em);
}
li ul ul{
    transform: scale(1,0);
    transform-origin: top center;
    position: absolute;
    top: var(--size-full); 
    transition: 0.3s;
}
.nav_options_container li:hover ul{
    display: flex;
    flex-direction: row;
    background-color:white;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    transform: scale(1,1);
    transition: 0.3s;
}

/* Main Nav */
nav {
    font-family: var(--font-heading);
}
hr {
    width: var(--size-full); 
}
#heading_title {
    font-size: 25px;
    color: black;
}
.nav_container {
    margin-top: 1em;
    display: flex;
    width: 100vw;
    justify-content: center;
}
.navbar {
    display: flex;
    width: var(--size-full); 
    max-width: 1200px;
    height: 80px;
    justify-content: space-between;
}
.nav_options_container a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}
nav a,li {
    color: var(--color-nav);
}
.nav_heading_container {
    display: flex;
    width: var(--size-full); 
    height: var(--size-full); 
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    margin-top: 20px;
}
.nav_options_container {
    display: flex;
    flex-direction: row;
    height: var(--size-full); 
    align-items: center;
    gap: 50px;
    margin: var(--size-none) 10px;
}
li ul li {
    font-size: 1rem;
}
/* Drop down menu */
.drop_down_menu {
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
    width: 20em;
}
.drop_down_menu li + li {
    margin-left: 2em;
  
}
/* Surface pro width = 1368px*/

@media screen and (max-width: 1100px) { /* Surface Pro */
    li ul li {
        font-size: 0.85rem;
    }
    .nav_options_container,
    .nav_icons_container {
        gap: 25px;
    }
    .navItemsContainer {
        margin-left: 6em;
    }
}
@media screen and (max-width: 800px) { /* In between size */
    .nav_options_container {
        margin: var(--size-none);  
    }
    .nav_icons_container {
        width: auto;
        gap: 10px;
    }
    .nav_heading_container {
        width: 70px;
    }
    .nav_icons_container li {
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 760px) { /* Small Size */
    .lg_disp {
        display: none;
    }
    #hamburger_icon {
        margin-right: 2px;
    }
    .hamburger_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .side_nav_burger {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: 7em;
        padding-bottom: 2em;
    }
    #exitIcon {
        margin-right: 2px;
    }
    ul li img {
        margin-right: var(--size-px-sm);
    }
    .logo_img_small {
        margin-bottom: 10px;
    }
}