@import "./colours.css";
@import "./sizing.css";
@import "./typography.css";


/* Red Buttons */
.red_button {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-label);
    border: solid;

    border-radius: var(--size-xxs);
    width: var(--size-lg);
    height: var(--size-px-ml);
}
.red_button a {
    color: var(--btn-primary-label);
}
.red_button:hover {
    background-color: var(--btn-primary-hover);
    border-color: var(--btn-primary-hover);
    cursor: pointer;
}
.red_button--opp {
    background-color: var(--btn-primary-opp-bg);
    border-color: var(--color-primary-dark);
    color: var(--btn-primary-opp-label);

    width: var(--size-lg);
    border-radius: var(--size-sm);
    
}
.red_button--opp:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-light);
    color: var(--color-light);
    cursor: pointer;
}

/* White Buttons */
.white_button {
    border: solid;
    background-color: var(--btn-secondary-bg);
    border-color: var(--btn-secondary-border);
    color: var(--btn-secondary-label);

    border-radius: var(--size-xxxs);
    border-width: var(--size-px-mini);
    width: var(--size-g);
    height: var(--size-smm);
}
.white_button:hover {
    border-color: var(--color-primary-dark);
    color: var(--color-primary-dark);
    font-weight: var(--font-weight-md);
    cursor: pointer;
}


/* Size Variations */
.red_button--lg {
    width: var(--size-xl);
    height: var(--size-smm);

    text-align: center;
    font-size: var(--text-sm);
}
.white_button--lg {
    border-radius: var(--size-xxxs);
    border-width: var(--size-px-mini);
    width: var(--size-mega-m);
    height: var(--size-g);
} 

/* Continue Browsing & Red Button */
.link_btn_combo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: var(--size-px-xl);
}
.continue_browsing_combo {
    padding-right: var(--size-px-xll);
}

/* Qty box */
.qty_box {
    /* Display */
    display: flex;
    align-items: center;
    overflow: hidden;

    /* Sizing */
    width: var(--size-px-full);
    height: var(--size-px-lg);
    background-color: var(--color-light);
    
    /* Border */
    border-radius: var(--size-xxxs);
    border: solid;
    border-width: var(--size-px-mini);
    border-color: var(--color-sub-light);

    /* Spacing */
    margin-top: var(--size-px-xs);
    padding: var(--size-px-s);
}
.btn {
    /* Display */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    border: none;
    cursor: pointer;

    /* Sizing */
    width: var(--size-px-xxxl);
    height: var(--size-px-xxxl);

    /* Styles */
    background: 0 0;
    color: var(--color-dark);
}
.btn > img {
    width: var(--size-full);
}
#qty_num {
    width: var(--size-full);
    border: none;
    text-align: center;
    background: 0 0;
}
#qty_label {
    margin-right: var(--size-px-xs);
}
#qty {   
    width: var(--size-px-xll);
    height: var(--size-px-md);

    /* Border */
    border: solid;
    border-radius: var(--size-px-xx);
    border-width: var(--size-px-mini);
    border-color: var(--color-sub-light);
}


/* Media Queries */
@media screen and (max-width: 1280px) {
    .red_button--opp {
        width: var(--size-mml);
        height: var(--size-px-md);
    } 
}

@media screen and (max-width: 1200px) {
    .white_button--lg {
        border-radius: var(--size-xxxs);
        border-width: var(--size-px-mini);
        width: var(--size-footer-b);
        height: var(--size-lg);
    }
    .red_button--lg {
        height: var(--size-smm);
    }
}

@media screen and (max-width: 1100px) {
    .white_button--lg {
        border-radius: var(--size-xxxs);
        border-width: var(--size-px-mini);
        height: var(--size-mml);
    } 
}

@media screen and (max-width: 1000px) {
    .red_button--opp {
        width: var(--size-lg);
        height: var(--size-px-sm);
        font-size: var(--size-input-small);
    }
    .white_button--lg {
        border-radius: var(--size-xxxs);
        border-width: var(--size-px-mini);
        width: var(--size-xm);
    } 
    .card_type {
        font-size: var(--size-px-ss);
    }
}

@media screen and (max-width: 900px) {
    .white_button--sml {
        border-radius: var(--size-xxxs);
        border-width: var(--size-px-mini);
        width: var(--size-lg);
        height: var(--size-smm);
        font-size: var(--size-px-x);
    }   
}

@media screen and (max-width: 500px) {
    .white_button--lg {
        border-radius: var(--size-xxxs);
        border-width: var(--size-px-mini);
    } 
    .qty_box {
        display: flex;
        width: var(--size-px-f);
        height: var(--size-px-ml);
        padding: var(--size-px-xs);
        border-radius: var(--size-xxxs);
        margin-top: var(--size-px-xs);
    }
    .btn {
        width: var(--size-px-xl);
        height: var(--size-px-xl);
    }
}

@media screen and (max-width: 500px) {
    .continue_browsing_combo {
        padding-right: var(--size-px-xl);
    }
}

