@import "./colours.css";
@import "./sizing.css";
@import "./spacing.css";
@import "./typography.css";


/* Colours */
.red_button {
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-label);
    border: solid;

    border-radius: var(--size-xxs);
    width: var(--size-g);
    height: var(--size-px-ml)
}
.red_button:hover {
    background-color: var(--btn-primary-hover);
    border-color: var(--btn-primary-hover);
}
.red_button--opp {
    background-color: var(--btn-primary-opp-bg);
    border-color: var(--color-primary-dark);
    color: var(--btn-primary-opp-label);

    width: var(--size-lg);
    border-radius: var(--size-sm);
}
.red_button--opp:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-light);
    color: var(--color-light);
}
.white_button {
    border: solid;
    background-color: var(--btn-secondary-bg);
    border-color: var(--btn-secondary-border);
    color: var(--btn-secondary-label);
}
.white_button:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-light);
    color: var(--color-light);
}
/* Sizing */
.red_button--lg {
    width: var(--size-xl);
    height: var(--size-smm);

    text-align: center;
}
.white_button {
    border-radius: var(--size-xxxs);
    border-width: var(--size-px-mini);
    width: var(--size-g);
    height: var(--size-smm);
}    

@media screen and (max-width: 1280px) {
    .red_button, .red_button--opp {
        width: var(--size-mml);
        height: var(--size-px-md);
    }
    
}
@media screen and (max-width: 1000px) {
    .red_button, .red_button--opp {
        width: 8em;
        height: 20px;
        font-size: 12px;
    }
}