@import "./colours.css";
@import "./sizing.css";
@import "./spacing.css";
@import "./typography.css";


/* Colours */
.red_button {
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-label);
    border: solid;

    border-radius: var(--size-xxs);
    width: var(--size-g);
    height: var(--size-px-ml);
}
.red_button:hover {
    background-color: var(--btn-primary-hover);
    border-color: var(--btn-primary-hover);
    cursor: pointer;
}
.red_button--opp {
    background-color: var(--btn-primary-opp-bg);
    border-color: var(--color-primary-dark);
    color: var(--btn-primary-opp-label);

    width: var(--size-lg);
    border-radius: var(--size-sm);
    
}
.red_button--opp:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-light);
    color: var(--color-light);
    cursor: pointer;
}
.white_button {
    border: solid;
    background-color: var(--btn-secondary-bg);
    border-color: var(--btn-secondary-border);
    color: var(--btn-secondary-label);

    border-radius: var(--size-xxxs);
    border-width: var(--size-px-mini);
    width: var(--size-g);
    height: var(--size-smm);
}
.white_button:hover {
    border-color: var(--color-primary-dark);
    color: var(--color-primary-dark);
    font-weight: 600;
    cursor: pointer;
}

/* Sizing */
.red_button--lg {
    width: var(--size-xl);
    height: var(--size-smm);

    text-align: center;
}
.white_button--lg {
    border-radius: var(--size-xxxs);
    border-width: var(--size-px-mini);
    width: 25em;
    height: 9em;
} 
.link_btn_combo {
    align-self: center;
    padding-top: 40px;
}
.continue_browsing {
    padding-right: 50px;
}
/* Qty box */
.qty_box {
    display: flex;
    width: 100px;
    height: 33.33px;
    background-color: var(--color-light);
    padding: 15px;
    overflow: hidden;
    align-items: center;
    border-radius: var(--size-xxxs);
    border: solid;
    border-width: var(--size-px-mini);
    border-color: var(--color-sub-light);
    margin-top: 10px;
}
.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    width: 10px;
    height: 10px;
    background: 0 0;
    cursor: pointer;
    color: black;
}
#qty_num {
    width: 100%;
    border: none;
    text-align: center;
    background: 0 0;
}

@media screen and (max-width: 1280px) {
    .red_button--opp {
        width: var(--size-mml);
        height: var(--size-px-md);
    } 
}
@media screen and (max-width: 1200px) {
    .white_button--lg {
        border-radius: var(--size-xxxs);
        border-width: var(--size-px-mini);
        width: 23em;
        height: 8em;
    } 
}
@media screen and (max-width: 1100px) {
    .white_button--lg {
        border-radius: var(--size-xxxs);
        border-width: var(--size-px-mini);
        height: 7em;
    } 
}
@media screen and (max-width: 1000px) {
    .red_button--opp {
        width: 8em;
        height: 20px;
        font-size: 12px;
    }
    .white_button--lg {
        border-radius: var(--size-xxxs);
        border-width: var(--size-px-mini);
        width: 19em;
    } 
    .card_type {
        font-size: 14px;
    }
}
@media screen and (max-width: 500px) {
    .white_button--lg {
        border-radius: var(--size-xxxs);
        border-width: var(--size-px-mini);
    } 
}
