@import "colours.css";
@import "sizing.css";
@import "typography.css";
@import "buttons_styles.css";
@import "icon_styles.css"; 


/* Cart Products */
.cart_total {
    display: flex;
    grid-column: 3/4;
    justify-self: center;
}
.cart_product_charity {
    margin-bottom: auto;
}
#cart_product_hr {
    width: 35em;
    margin-top: var(--size-px-sm);
    margin-bottom: var(--size-px-sm);
}
.cart_products {
    grid-column: 2/3;
}
.cart_product_item {
    width: 35em;
    display: grid;
    grid-template-columns: 0.3fr 0.75fr 0.5fr;
}
.cart_product_img {
    grid-column: 1/2;
    width: 8em;
}
.cart_product_img > img {
    width: var(--size-full);
}
.cart_product_info {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    padding-left: var(--size-px-ml);
}
.cart_product_price_qty {
    display: flex;
    flex-direction: column;
}
.cart_product_info > h3 {
    padding-bottom: var(--size-px-xs);
    font-size: 16px;
}
.cart_product_opt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    grid-column: 3/4;
}
.cart_product_price {
    font-weight: var(--font-weight-lg);
}
.delete_icon {
    width: var(--size-px-ml);
    height: var(--size-px-ml);
}