@import "colours.css";
@import "sizing.css";
@import "spacing.css";
@import "typography.css";
@import "buttons_styles.css";
@import "links_styles.css";  
@import "icon_styles.css";
@import "cart_product_styles.css";

.product_item_container {
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    grid-template-columns: 0.7fr 2fr 2fr;
    padding-bottom: var(--size-mml);
}
.product_header_container {
    grid-column: 2/3;
}
.product_item_container section + section {
    margin-left: var(--size-lg);
}
.cart_total {
    display: flex;
    grid-column: 3/4;
}
.cart_product_charity {
    margin-bottom: auto;
}
#cart_product_hr {
    width: 35em;
    margin-top: var(--size-px-sm);
    margin-bottom: var(--size-px-sm);
}
.cart_products {
    grid-column: 2/3;
}
.cart_product_item {
    width: 35em;
    display: grid;
    grid-template-columns: 0.3fr 0.75fr 0.5fr;
}
.cart_product_img {
    grid-column: 1/2;
    width: 8em;
}
.cart_product_img > img {
    width: var(--size-full);
}
.cart_product_info {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    padding-left: var(--size-px-ml);
}
.cart_product_price_qty {
    display: flex;
    flex-direction: column;
}
.cart_product_info > h3 {
    padding-bottom: var(--size-px-xs);
    font-size: 16px;
}
.cart_product_opt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    grid-column: 3/4;
}
.cart_product_price {
    font-weight: var(--font-weight-lg);
}
.delete_icon {
    width: var(--size-px-ml);
    height: var(--size-px-ml);
}
#donation_img {
    width: 25em;
    height: var(--size-mega);
}

.info_box {
    border: solid;
    border-width: 1.5px;
    border-color: var(--form-element-border);
    height: var(--size-px-ml);
    border-radius: 5px;
    /* width: 100%; */
    margin-bottom: var(--size-px-sm);
}
.credit_card {
    height: 12em;
    padding: 15px;
}
.credit_payment {
    display: flex;
    flex-direction: column;
}
.credit_card > form > div {
    margin-bottom: 10px;
}
#card_name_holder {
    display: flex;
    flex-direction: column;
}
.card_details {
    display: flex;
}
.card_payments {
    display: flex;
    margin-top: 40px;
    justify-content: center;
}
.card_payments img + img {
    margin-left: 15px;
}
.card_details > div + div {
    margin-left: 20px;
}
.payment_box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment_options {
    width: 28em;
}
#payment_options_title {
    font-size: 24px;
    padding-bottom: 15px;
}
#name_on_card, #card_no {
    width: 18em;
}
#exp_date {
    width: 6em;
    text-align: center;
}
#cvv {
    width: 3em;
    text-align: center;
}
.credit_input {
    padding: 2px;
    font-style: italic;
}
#cc_heading {
    padding-bottom: 5px;
    color: var(--color-sub-light);
}

@media screen and (max-width: 1400px) {
    .product_item_container section + section {
    margin-left: 5em;
    
}
.product_item_container {
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    grid-template-columns: 0.35fr 2fr 2fr;
    padding-bottom: var(--size-mml);
}
}
@media screen and (max-width: 1300px) {
    .payment_options {
        width: 25em;
    }
    .card_details  div + div {
        margin-left: 20px;
    }
    .card_details {
        width: 23em
    }
   .credit_input {
    font-size: 12px;
   }
    .payment_box {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    #name_on_card, #card_no {
        width: 18em;
    }
    #exp_date {
        width: 6em;
        text-align: center;
    }
    #cvv {
        width: 3em;
        text-align: center;
    }
}

@media screen and (max-width: 1100px) {
    .cart_product_item, #cart_product_hr {
        width: 30em;
        display: grid;
        grid-template-columns: 0.3fr 0.75fr 0.5fr;
    }
    .product_item_container section + section {
        margin-left: 4em;
    }
}

@media screen and (max-width: 930px) {
    .cart_product_item, #cart_product_hr {
        width: 28em;
        display: grid;
    }
    .product_item_container section + section {
        margin-left: 4em;
    }
    .cart_product_img {
        grid-column: 1/2;
        width: 7em;
    }
    .cart_product_info {
        padding-left: 15px;
    }
}
@media screen and (max-width: 800px) {
    .product_item_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 400px) {
    .product_header_container, .cart_products {
        align-self: flex-start;
        margin-left: 20px;
    }
    .product_item_container section + section {
        margin-left: 0em;
    } 
    .cart_product_info > h3 {
        font-size: 14px;
    }
    .cart_product_info > p {
        font-size: 12px;
    }
    .cart_product_img {
        grid-column: 1/2;
        width: 6em;
    }
    .cart_product_item, #cart_product_hr {
        width: 22em;
    }
    .total_grid {
        align-self: flex-end;
    }
    .payment_options {
        width: 22em;
    }
 
    #name_on_card, #card_no {
        width: 15em;
    }
    #exp_date {
        width: 6em;
        text-align: center;
    }
    #cvv {
        width: 3em;
        text-align: center;
    }
    .card_details {
        width: 16em
    }
    .credit_card {
        padding: 10px;
    }
    .total_grid {
        align-self: flex-end;
        justify-self: flex-end;
    }
    .total_grid--left {
        margin-left: 2em;
    }
    
}
