@import "colours.css";
@import "sizing.css";
@import "typography.css";
@import "buttons_styles.css";
@import "links_styles.css";  
@import "icon_styles.css";
@import "cart_product_styles.css";


/* HR */
.sml_display {
    display: none;
}

/* Form Side */
.info_box {
    border: solid;
    border-width: var(--size-px-mini);
    border-color: var(--form-element-border);
    height: var(--size-px-ml);
    border-radius: var(--size-px-xxs);
    margin-bottom: var(--size-px-sm);
}

/* Credit Card Box */
.credit_card {
    height: var(--size-xl);
    padding: var(--size-px-s);
}
.credit_card > form > div {
    margin-bottom: var(--size-px-xs);
}
.credit_payment {
    display: flex;
    flex-direction: column;
}
.credit_input {
    padding: var(--size-px-xxxs);
    font-style: italic;
}


/* Card details */
.card_details {
    display: flex;
}
.card_payments {
    display: flex;
    justify-content: center;
    margin-top: var(--size-px-xl);
}
.card_payments img + img {
    margin-left: var(--size-px-s);
}
.card_details > div + div {
    margin-left: var(--size-px-sm);
}
#card_name_holder {
    display: flex;
    flex-direction: column;
}


.payment_box {
    display: flex;
    align-items: center;
    justify-content: center;
}
.payment_options {
    width: var(--size-payment-opt);
}
#payment_options_title {
    font-size: var(--text-lg);
    padding-bottom: var(--size-px-s);
}


#name_on_card, #card_no {
    width: var(--size-xxxl);
}
#exp_date {
    width: var(--size-ml);
    text-align: center;
}
#cvv {
    width: var(--size-dm);
    text-align: center;
}


#cc_heading {
    padding-bottom: var(--size-px-xxs);
    color: var(--color-sub-light);
}
.total_grid--left {
    margin-left: var(--size-xx);
}

/* Media Queries */
@media screen and (max-width: 1400px) {
    .product_item_container section + section {
    margin-left: var(--size-m);
    
}
.product_item_container {
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    grid-template-columns: 0.35fr 2fr 2fr;

    padding-bottom: var(--size-mml);
    }
}

@media screen and (max-width: 1300px) {
    .payment_options {
        width: var(--size-mega-m);
    }
    .payment_box {
        display: flex;
        align-items: center;
        justify-content: center;
    }


    .card_details  div + div {
        margin-left: var(--size-px-sm);
    }
    .card_details {
        width: var(--size-footer-b);
    }
   .credit_input {
    font-size: var(--text-xxs);
   }
   
    #name_on_card, #card_no {
        width: var(--size-xxxl);
    }
    #exp_date {
        width: var(--size-ml);
        text-align: center;
    }
    #cvv {
        width: var(--size-dm);
        text-align: center;
    }
}

@media screen and (max-width: 1100px) {
    .cart_product_item, #cart_product_hr {
        display: grid;
        grid-template-columns: 0.3fr 0.75fr 0.5fr;

        width: var(--size-mega-a);
    }
    .product_item_container section + section {
        margin-left: var(--size-md);
    }
}

@media screen and (max-width: 930px) {
    .cart_product_item, #cart_product_hr {
        width: var(--size-payment-opt);
        display: grid;
    }
    .product_item_container section + section {
        margin-left: var(--size-md);
    }
    .cart_product_img {
        grid-column: 1/2;
        width: var(--size-mml);
    }
    .cart_product_info {
        padding-left: var(--size-px-s);
    }
}
@media screen and (max-width: 800px) {
    .product_item_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .product_header_container, .cart_products {
        align-self: flex-start;
        margin-left: var(--size-px-sm);
    }
    .product_item_container section + section {
        margin-left: var(--size-none);
    } 


    .cart_product_info > h3 {
        font-size: var(--text-xs);
    }
    .cart_product_info > p {
        font-size: var(--text-xxs);
    }
    .cart_product_img {
        grid-column: 1/2;
        width: var(--size-ml);
    }
    .cart_product_item, #cart_product_hr, .payment_options {
        width: var(--size-footer-a);
    }
 
    #name_on_card, #card_no {
        width: var(--size-l);
    }
    #exp_date {
        width: var(--size-ml);
        text-align: center;
    }
    #cvv {
        width: var(--size-dm);
        text-align: center;
    }


    .card_details {
        width: var(--size-xxl);
    }
    .credit_card {
        padding: var(--size-px-xs);
    }


    .total_grid {
        align-self: flex-end;
        justify-self: flex-end;
    }
    .total_grid--left {
        margin-left: var(--size-sm);
    }
    #payment_options_title {
        font-size: var(--size-px-sm);
    }
}
