:root {
    --color-primary: #B31629;
    --color-primary-dark: #661922;
    --color-secondary: #D85F4C;
    --color-secondary-dark: #984032; 

    --color-dark: #000000;
    --color-light: #FFFFFF;

    --color-sub-dark: #666666;
    --color-sub-light: #939393;

    --color-visited: #730076; 

    /* typography */
    --color-main-text: var(--color-dark);
    --color-text-footer: var(--color-light);
    --color-nav: var(--color-sub-dark);
    --color-subtext: var(--color-sub-light);


    --color-link: var(--color-secondary);
    --color-link-visited: var(--color-links-visited);

    /* border */
    --color-border: var(--color-sub-light);

    /* body */
    --color-body: var(--color-light);

    /* forms */
    --form-element-border: var(--color-sub-light);
    --form-element-bg: var(--color-light);
    --form-text-placeholder: var(--color-sub-light);

    /* buttons */
    --btn-primary-bg: var(--color-primary);
    --btn-primary-hover: var(--color-primary-dark);
    --btn-primary-active: var(--color-primary-dark);
    --btn-primary-label: var(--color-light);

    --btn-primary-opp-bg: var(--color-light);
    --btn-primary-opp-label: var(--color-primary-dark);

    --btn-secondary-bg: var(--color-light);
    --btn-secondary-border: var(--color-sub-light);
    --btn-secondary-label: var(--color-dark);

    /* icons */
    --color-icon-primary: var(--color-sub-dark);
    --color-icon-secondary: var(--color-sub-light);
    --color-icon-action: var(--color-dark);
}
