:root {
    --color-primary: #B31629;
    --color-primary-dark: #661922;
    --color-secondary: #D85F4C;
    --color-secondary-dark: #984032; 

    --color-dark: #000000;
    --color-light: #FFFFFF;

    --color-sub-dark: #666666;
    --color-sub-light: #939393;

    --color-visited: #730076; 

    /* typography */
    --color-main-text: var(--color-dark);
    --color-text-footer: var(--color-light);
    --color-nav: var(--color-sub-dark);
    --color-subtext: var(--color-sub-light);


    --color-link: var(--color-secondary);
    --color-link-visited: var(--color-links-visited);

    /* border */
    --color-border: var(--color-sub-light);

    /* body */
    --color-body: var(--color-light);

    /* forms */
    --form-element-border: var(--color-sub-light);
    --form-element-bg: var(--color-light);
    --form-text-placeholder: var(--color-sub-light);

    /* buttons */
    --btn-primary-bg: var(--color-primary);
    --btn-primary-hover: var(--color-primary-dark);
    --btn-primary-active: var(--color-primary-dark);
    --btn-primary-label: var(--color-light);

    --btn-primary-opp-bg: var(--color-light);
    --btn-primary-opp-label: var(--color-primary-dark);

    --btn-secondary-bg: var(--color-light);
    --btn-secondary-border: var(--color-sub-light);
    --btn-secondary-label: var(--color-dark);

    /* icons */
    --color-icon-primary: var(--color-sub-dark);
    --color-icon-secondary: var(--color-sub-light);
    --color-icon-action: var(--color-dark);
}
/* Buttons */
.red_button {
    background-color: var(--btn-primary-bg);
    border-color: var(--btn-primary-bg);
    color: var(--btn-primary-label);
    border: solid;
}
.red_button:hover {
    background-color: var(--btn-primary-hover);
    border-color: var(--btn-primary-hover);
}
.red_button--opp {
    background-color: var(--btn-primary-opp-bg);
    border-color: var(--color-primary-dark);
    color: var(--btn-primary-opp-label);
}
.red_button--opp:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-light);
    color: var(--color-light);
}
.white_button {
    border: solid;
    background-color: var(--btn-secondary-bg);
    border-color: var(--btn-secondary-border);
    color: var(--btn-secondary-label);
}
.white_button:hover {
    background-color: var(--color-primary-dark);
    border-color: var(--color-light);
    color: var(--color-light);
}
/* Links & Labels */
.orange_links{
    color: var(--color-link);
}
.orange_links:hover {
    color: var(--color-secondary-dark);
}
.homepage_instructions_subtext {
    color: var(--color-sub-dark);
}
.cart_product_charity, .homepage_instruction_subtext{
    color: var(--color-sub-light)
}
.homepage_bottom a {
    color: var(--color-sub-dark);
}
/* Titles */
.now_page {
    color: var(--color-sub-light);
}
h1 {
    color: var(--color-dark);
}
/* Nav Bar */
nav {
    color: var(--color-sub-dark);
}
li > p > a {
    color: var(--color-sub-dark);
}
li > p > a:hover {
    color: var(--color-primary);
}
ul li > a {
    color: var(--color-sub-dark);
}
ul li > a:hover {
    color: var(--color-primary);
}
/* Progress Bar */
.progress_bar p {
    color: var(--color-sub-light)
}
/* Footer */
footer {
    background-color: var(--color-primary-dark);
    color: var(--color-light);
}
#enter_your_email {
    color: var(--color-light);
    background-color: transparent;
    border: solid;
    border-color: var(--color-light);
}
#enter_your_email::placeholder {
    color: var(--color-light);
}
/* Promo Messages */
.promo_img_subtext {
    color: var(--color-dark);
}
/* Total Box */
.total_grid {
    border: solid;
} 
#total {
    color: var(--color-primary);
}
/* Images & Icons */
.product_grid > img {
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}