@import "./colours.css";
@import "./sizing.css";
@import "./spacing.css";
@import "./typography.css";
footer {
    /*Colours*/
    background-color: var(--color-primary-dark);
    color: var(--color-light);

    /*Layout*/
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: var(--size-sm);
    padding-bottom: var(--size-sm);
}
/*Enter your Email*/
#enter_your_email {
    color: var(--color-light);
    background-color: transparent;
    border: solid;
    border-color: var(--color-light);

    /*Typography*/
    text-align: center;

    /*Sizing*/
    height: var(--size-smm);
    width: var(--size-footer);
    border-width: var(--size-px-xxxs);
    border-radius: var(--size-px-xs);

    /*Spacing*/
    margin-bottom: var(--space-xs);

    /*Font Size*/
    font-size: var(--text-xxl);
}
#enter_your_email::placeholder {
    color: var(--color-light);
}
#copyright {
    margin-top: var(--space-lx);

    /* Typography*/
    font-size: var(--text-xxs);
} 
/*Payment Icons*/
.payment_icon {
    height: var(--size-px-sm);
}
#visa, #masterc_f, #amex_f {
    width: var(--size-px-lg);
}
#amex_f {
    border-radius: var(--size-px-xxxs);
}
/* Layout */
footer > div {
    display: flex;
    flex-direction: column;
}
footer hr {
    width: var(--size-footer);
}
/* Spacing */
.footer_section > div > img + img {
    margin-left: var(--space-px-s);
}
.footer_section + .footer_section {
    margin-left: var(--space-footer-section);
}
.footer_section > h3 + p {
    margin-top: var(--space-xs);
}
.footer_section p {
    margin-top: var(--space-px-xxs);
    margin-bottom: var(--space-none);
}
.footer_section input {
    margin-top: var(--space-xs);
}
.footer_section > h3 > div > img {
    margin-top: var(--space-xs);
}
.footer_section > h3 + hr {
    margin-top: var(--space-none);
    margin-bottom: var(--space-xs);
}
.footer_section h3 {
    margin-bottom: var(--space-px-xxxs);
}
#mid_hr {
    margin-right: var(--space-lg);
}
/* Typography */
footer > p {
    font-size: var(--text-xs);
}
footer h3 {
    font-size: var(--text-md);
    font-weight: var(--font-weight-s);
}
footer, .footer_section > p {
    font-weight: var(--font-weight-s);
    font-size: var(--text-xs);
}
@media screen and (max-width: 1400px) { 
    .footer_section + .footer_section {
        margin-left: var(--size-lx);
    }
}
@media screen and (max-width: 1280px) { 
    .footer_section + .footer_section {
        margin-left: var(--size-ml);
    }
    #mid_hr {
        margin-left: var(--size-px-ultra-mini);
    }
}
@media screen and (max-width: 1200px) { 
    #copyright {
        font-size: var(--size-input-small);
    }
    footer h3 {
        font-size: var(--text-sm);
    }
    .footer_section + .footer_section {
        margin-left: var(--size-m);
    }
}
@media screen and (max-width: 1150px) { 
    .footer_section + .footer_section {
        margin-left: var(--size-dm);
    }
}
@media screen and (max-width: 1070px) { 
    .footer_section + .footer_section {
        margin-left: var(--size-xs);
    }
}
@media screen and (max-width: 1000px) { 
    .footer_section > p {
        font-size: var(--size-px-xs);
    }
    footer hr {
        width: var(--size-l);
    }
    #enter_your_email {
        font-size: var(--size-px-xs);
        width: var( --size-footer-a);
    }
    #copyright {
        font-size: var(--size-px-xs);
    }
    .footer_section + .footer_section {
        margin-left: var(--size-m);
    }
    .payment_icon {
        height: 15px
    }
    #hr_f_3 {
        margin-left: var(--size-px-xxxs);
    }
    #mid_hr {
        width: var(--size-xxl);
    }
    .footer_section > div > img + img {
        margin-left: var(--size-px-xs);
    }
}
@media screen and (max-width: 850px) { 
    .footer_section + .footer_section {
        margin-left: var(--size-sm);
    }
}
@media screen and (max-width: 500px) { 
    footer {
        display: flex;
        flex-direction: column;
        align-items: baseline;
        justify-content: space-between;
        align-content:center ;
        padding-top: var(--size-xs);
    }
    .footer_section p {
        font-size: var( --size-input-small);
    }
    #mid_hr, footer hr {
        width: var( --size-xmm);
    }
    .footer_section {
        margin-bottom: var(--size-px-ml);
    }
    #copyright {
        font-size: var(--text-xxxs);
    }
    #enter_your_email {
        font-size: var( --size-input-small);
        width: var(--size-footer);
    }
    .payment_icon {
        height: var(--size-px-sm);
    }
}