@import "colours.css";
@import "sizing.css";
@import "typography.css";
@import "buttons_styles.css";
@import "links_styles.css";  
@import "icon_styles.css";

/* Section: Homepage Viewport */
#display_text {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    /*Typography*/
    font-size: var(--text-display);
    font-weight: var(--font-weight-s);
}
#display_sub {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-sm);

    margin-top: 0.5em;
    margin-bottom: 2em;
    width: 100%;
}
.homepage_vp {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
}
.homepage_msg {
    grid-column: 2/3;
    align-content: center;
}
#elf_girl {
    width: 100%;
}

/* Section: Homepage middle banner */
.homepage_instruction > p {
    font-size: var(--text-md);
    color: var(--color-sub-dark);
}
.homepage_instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage_instruction > img {
    margin-bottom: 1em;
    grid-row: 1/2;
    width: 50px;
    height: 55px
}
.homepage_instruction > h3 {
    margin-bottom: 0.5em;
}
#send_img {
    width: 70px
}
#customise_img, #select_img {
    width: 55px
}
.homepage_instruct {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 45px;
}
.homepage_card_categories {
    display: flex;
    justify-content: center;
    padding-bottom: 10em;
}
.homepage_card_categories > div + div{
   margin-left: 10em;
}
.homepage_instruct > div + div {
    margin-left: 10em;
}

/* Section: Homepage Bottom */
.homepage_bottom {
    padding-top: 8em;
    padding-bottom: 5em;
}
.hp_card_box {
    width: 25em;
    display: flex;
    flex-direction: column;
}
.hp_card_box > img {
    width: 100%;
}
.hp_card_box > h2 {
    margin-bottom: 1em;
}
.hp_card_box > a {
    display: grid;
    margin-top: 0.5em;
    font-size: 20px;
    justify-content: flex-end;
}
#eco_friendly_img {
    width: 35em;
    height: 25em;
}
#eco_friendly_img > img{
    width: 100%;
}
.promo_msg_eco {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.promo_msg_eco > h3 {
    padding-top: 30px;
}
@media screen and (max-width: 1500px) {
    #display_text {
        font-size: 80px;
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: 25px;
    }
}
@media screen and (max-width: 1300px) {
    .homepage_instruction > img {
        height: 50px;
    }
    #send_img {
        width: 65px
    }
    #customise_img, #select_img {
        width: 50px
    }
}
@media screen and (max-width: 1200px) {
    .hp_card_box {
        width: 23em;
    }
    #display_text {
        font-size: 60px;
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: 20px;
    }
    .homepage_instruction > img {
        height: 45px;
    }
    #send_img {
        width: 60px;
    }
    #customise_img, #select_img {
        width: 45px
    }
    .homepage_instruction > h3 {
        font-size: 24px;
    }
    .homepage_instruction > p {
       font-size: 18px;
    }
}
@media screen and (max-width: 1100px) {
    .hp_card_box {
        width: 22em;
    }
    #display_text {
        font-size: 50px;
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: 20px;
    }
    #eco_friendly_img {
        width: 30em;
        height: 20em;
    }
    .promo_msg_eco > h3 {
        padding-top: 45px;
    }
};
@media screen and (max-width: 1000px) {
    .hp_card_box {
        width: 20em;
    }
    #display_text {
        font-size: 60px;
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: 20px;
    }
    .homepage_instruction > img {
        height: 40px;
    }
    #send_img {
        width: 55px;
    }
    #customise_img, #select_img {
        width: 40px
    }
    .homepage_instruction > h3 {
        font-size: 24px;
    }
    .homepage_instruction > p { 
       font-size: 16px;
    }
    .promo_msg_eco > h3 {
        padding-top: 45px;
    }
}
@media screen and (max-width: 750px) {
    #eco_friendly_img {
        width: 20em;
        height: 15em;
    }
    .promo_msg_eco > h3 {
        font-size: 24px;
    }
    .promo_msg_eco > p {
        font-size: 20px;
    }
    .hp_card_box {
        width: 18em;
    }
    #display_text {
        font-size: 50px;
        font-weight: var(--font-weight-s);
    }
    .homepage_vp {
        display: grid;
        grid-template-rows: 2fr 2fr;
        grid-template-columns: 0.15fr 1fr;
    }
    .homepage_elf_img {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .homepage_instruct {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 30px 0px 0px 35px;
    }
    .homepage_instruction {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }
    .homepage_instruct > div + div {
        margin-left: 0;
    }
    .homepage_instruction > h3 {
        font-size: 22px;
        margin-bottom: 0em;
    }
    .homepage_instruction > p {
        font-size: 14px;
    }
    .homepage_instruction > * {
        margin-right: 10px;
    }
    .homepage_instruct > div {
        margin-bottom: 35px;
    }
    #send_img {
        width: 35px;
        height: 25px;
        margin-bottom: 0;
    }
    #customise_img, #select_img {
        width: 35px;
        height: 35px;
        margin-bottom: 0px;
    }
    .homepage_card_categories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homepage_card_categories > div + div{
        margin-left: 0em;
    }
}
@media screen and (max-width: 400px) {
    .homepage_card_categories {
        padding-bottom: 5em;
    }
     #eco_friendly_img {
        width: 18em;
        height: 15em;
    }
    .promo_msg_eco > h3 {
        font-size: 20px;
    }
    .promo_msg_eco > p {
        font-size: 16px;
    }
    .homepage_bottom {
        padding-top: 5em;
        padding-bottom: 5em;
    }
    .hp_card_box > h2 {
        font-size: 24px;
    }
    .hp_card_box > a {
        font-size: 18px;
    }
    #display_sub {
        font-size: 15px;
    }
}