@import "colours.css";
@import "sizing.css";
@import "typography.css";
@import "buttons_styles.css";
@import "links_styles.css";  
@import "icon_styles.css";

/* Section: Homepage Viewport */
#display_text {
    display: flex;
    flex-wrap: wrap;
    width: var(--size-full);

    /*Typography*/
    font-size: var(--text-display);
    font-weight: var(--font-weight-s);
}
#display_sub {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-sm);

    margin-top: var(--size-xxxs);
    margin-bottom: var(--size-sm);
    width: var(--size-full);
}
.homepage_vp {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
}
.homepage_msg {
    grid-column: 2/3;
    align-content: center;
}
#elf_girl {
    width: var(--size-full);
}

/* Section: Homepage middle banner */
.homepage_instruction > p {
    font-size: var(--text-md);
    color: var(--color-sub-dark);
}
.homepage_instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homepage_instruction > img {
    margin-bottom: var(--size-xs);
    grid-row: 1/2;
    width: var(--size-px-xll);
    height: var(--size-px-xlll);
}
.homepage_instruction > h3 {
    margin-bottom: var(--size-xxxs);
}
#send_img {
    width: var(--size-px-gr);
}
#customise_img, #select_img {
    width: var(--size-px-xlll);
}
.homepage_instruct {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: var(--size-px-xxl);
}
.homepage_card_categories {
    display: flex;
    justify-content: center;
    padding-bottom: var(--size-lx);
}
.homepage_card_categories > div + div {
   margin-left: var(--size-lx);
}
.homepage_instruct > div + div {
    margin-left: var(--size-lx);
}

/* Section: Homepage Bottom */
.homepage_bottom {
    padding-top: var(--size-lg);
    padding-bottom: var(--size-m);
}
.hp_card_box {
    width: var(--size-mega-m);
    display: flex;
    flex-direction: column;
}
.hp_card_box > img {
    width: var(--size-full);
}
.hp_card_box > h2 {
    margin-bottom: var(--size-xs);
}
.hp_card_box > a {
    display: grid;
    margin-top: var(--size-xxxs);
    font-size: var(--size-px-sm);
    justify-content: flex-end;
}
#eco_friendly_img {
    width: var(--size-mega-b);
    height: var(--size-mega-m);
}
#eco_friendly_img > img {
    width: var(--size-full);
}
.promo_msg_eco {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}
.promo_msg_eco > h3 {
    padding-top: var(--size-px-ml);
}
@media screen and (max-width: 1500px) {
    #display_text {
        font-size: var(--size-px-g);
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: var(--size-px-md);
    }
}
@media screen and (max-width: 1300px) {
    .homepage_instruction > img {
        height: var(--size-px-xll);
    }
    #send_img {
        width: var(--size-px-grr);
    }
    #customise_img, #select_img {
        width: var(--size-px-xll);
    }
}
@media screen and (max-width: 1200px) {
    .hp_card_box {
        width: 23em;
    }
    #display_text {
        font-size: var(--size-px-xxxl);
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: var(--size-px-sm);
    }
    .homepage_instruction > img {
        height: var(--size-px-xxl);
    }
    #send_img {
        width: var(--size-px-xxxl);
    }
    #customise_img, #select_img {
        width: var(--size-px-xxl);
    }
    .homepage_instruction > h3 {
        font-size: 24px;
    }
    .homepage_instruction > p {
       font-size: 18px;
    }
}
@media screen and (max-width: 1100px) {
    .hp_card_box {
        width: 22em;
    }
    #display_text {
        font-size: var(--size-px-xll);
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: var(--size-px-sm);
    }
    #eco_friendly_img {
        width: var(--size-mega-a);
        height: var(--size-mega);
    }
    .promo_msg_eco > h3 {
        padding-top: var(--size-px-xxl);
    }
};
@media screen and (max-width: 1000px) {
    .hp_card_box {
        width: var(--size-mega);
    }
    #display_text {
        font-size: var(--size-px-xxxl);
        font-weight: var(--font-weight-s);
    }
    #display_sub {
        font-size: var(--size-px-sm);
    }
    .homepage_instruction > img {
        height: var(--size-px-xl);
    }
    #send_img {
        width: var(--size-px-xlll);
    }
    #customise_img, #select_img {
        width: var(--size-px-xl);
    }
    .homepage_instruction > h3 {
        font-size: 24px;
    }
    .homepage_instruction > p { 
       font-size: 16px;
    }
    .promo_msg_eco > h3 {
        padding-top: var(--size-px-xxl);    
    }
}
@media screen and (max-width: 750px) {
    #eco_friendly_img {
        width: var(--size-mega);
        height: var(--size-l);
    }
    .promo_msg_eco > h3 {
        font-size: 24px;
    }
    .promo_msg_eco > p {
        font-size: var(--size-px-sm);
    }
    .hp_card_box {
        width: 18em;
    }
    #display_text {
        font-size: var(--size-px-xll);
        font-weight: var(--font-weight-s);
    }
    .homepage_vp {
        display: grid;
        grid-template-rows: 2fr 2fr;
        grid-template-columns: 0.15fr 1fr;
    }
    .homepage_elf_img {
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .homepage_instruct {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: var(--size-px-ml) var(--size-none) var(--size-none) var(--size-mega-b);
    }
    .homepage_instruction {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
    }
    .homepage_instruct > div + div {
        margin-left: var(--size-none);
    }
    .homepage_instruction > h3 {
        font-size: 22px;
        margin-bottom: var(--size-none);
    }
    .homepage_instruction > p {
        font-size: 14px;
    }
    .homepage_instruction > * {
        margin-right: var(--size-px-xs);
    }
    .homepage_instruct > div {
        margin-bottom: var(--size-px-lg);
    }
    #send_img {
        width: var(--size-px-lg);
        height: var(--size-px-md);
        margin-bottom: var(--size-none);
    }
    #customise_img, #select_img {
        width: var(--size-px-lg);
        height: var(--size-px-lg);
        margin-bottom: var(--size-none);
    }
    .homepage_card_categories {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .homepage_card_categories > div + div{
        margin-left: var(--size-none);
    }
}
@media screen and (max-width: 400px) {
    .homepage_card_categories {
        padding-bottom: var(--size-m);
    }
     #eco_friendly_img {
        width: var(--size-xxxl);
        height: var(--size-l);
    }
    .promo_msg_eco > h3 {
        font-size: var(--size-px-sm);
    }
    .promo_msg_eco > p {
        font-size: 16px;
    }
    .homepage_bottom {
        padding-top: var(--size-m);
        padding-bottom: var(--size-m);
    }
    .hp_card_box > h2 {
        font-size: 24px;
    }
    .hp_card_box > a {
        font-size: 18px;
    }
    #display_sub {
        font-size: var(--size-px-s);
    }
}