@import "./colours.css";
@import "./sizing.css";
@import "./typography.css";

/* Payment Icons */
:root {
    --icon-height: var(--size-px-sm);
    --icon-width: var(--size-px-lg);
}
.icon {
    width: var(--icon-height);
    height: var(--icon-width);
}
#cart_icon {
    width: var(--size-px-mm);
    height: var(--size-px-mm);
}

/* Payment */
.payment_icon {
    height: var(--icon-height);
}
.payment_icon--rgl {
    width: var(--icon-width);
}
.amex {
    border-radius: var(--size-px-xxxs);
    width: var(--size-px-ml);
}
.master_c {
    width: var(--size-px-lg);
}


/* Payment Icons Main */
#visa_m, #masterc_m, #amex_m {
    width: var(--size-px-lg);
}
#amex_m {
    border-radius: var(--size-px-xxxs);
}


/* Media Queries */
@media screen and (max-width: 1000px) { 
    .payment_icon {
        height: var(--size-px-s);
    }
}
@media screen and (max-width: 500px) { 
    .payment_icon {
        height: var(--icon-height);
    }
    #cart_icon, .delete_icon {
        width: var(--size-px-sm);
        height: var(--icon-height);
    }
}


