/* Links/ Groups*/

/* Titles*/
#display_text {
    display: flex;
    flex-wrap: wrap;
}
.product_header > h1 {
    grid-column: 2/3;
}
.product_grid_label_1 {
    grid-row: 2/3
}
.product_grid_label_2 {
    grid-row: 4/5;
}
/* Nav Bar */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_options, .log_in, .nav_icons {
    display: flex;
    align-content: baseline;
    align-items: center;
}
.nav_logo_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
/* Nav Bar: Animations */
ul li {
    transform: translateX(-1em);
}
nav ul ul{
    transform: scale(1,0);
    transform-origin: top center;
    position: absolute;
    top:100%;
    transition: 0.3s;
}
ul li:hover ul{
    display: flex;
    flex-direction: row;
    background-color:white;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    transform: scale(1,1);
    transition: 0.3s;
}
/* Progress Bar */
.progress_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}
/* Footer */
footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#enter_your_email {
    text-align: center;
}
footer > div {
    display: flex;
    flex-direction: column;
}
/* Buttons */

/* Images & Icons */
.product_grid {
    display: grid;
    grid-template-rows: 1fr 30px 1fr 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px; 
}
#filter {
    grid-column: 4/5;
}
.product_header {
    display: grid;
    grid-template-columns: 80px 30% 700px 40px 40px;
    align-content: center;
    align-items: center;
}
/* Promo Message */

/* Total Box */
.homepage_viewport {
    margin-left: 60px;
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: center;
}
.homepage_instructions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.homepage_instructions {
    text-align: center;
}
.homepage_bottom {
    display: grid;
    grid-template-rows: 45px 60px 300px 30px 2fr;
    grid-template-columns: 180px 1fr 1fr;
}
.homepage_bottom > h3 {
    grid-row: 2/3;
}
.homepage_bottom > img {
    grid-row: 3/4;
}
.homepage_bottom > a {
    grid-row: 5/6;
    display: flex;
    justify-content: flex-end;
    margin-right: 2em;
}
.homepage_bottom > div {
    grid-row: 6/7;
    grid-column: 2/3;
}
#cc_heading, #cc_display, #see_all_1 {
    grid-column: 2/3;
}
#bc_heading, #bc_display, #see_all_2 {
    grid-column: 3/4;
}
