/* Links/ Groups*/

/* Titles*/
#display_text {
    display: flex;
    flex-wrap: wrap;
}
/* Nav Bar */
nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav_options, .log_in, .nav_icons {
    display: flex;
    align-content: baseline;
    align-items: center;
}
.nav_logo_container {
    display: flex;
    justify-content: flex-start;
    gap: 0;
    align-items: center;
    margin-right: 6.5em;
}
/* Progress Bar */
.progress_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start
}
/* Footer */
footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
#enter_your_email {
    text-align: center;
}
footer > div {
    display: flex;
    flex-direction: column;
}
/* Buttons */

/* Images & Icons */

/* Promo Message */

/* Total Box */
.progress_bar {
    margin-left: 60px;
    margin-top: 30px;
}
.product_header {
    display: grid;
    grid-template-columns: 60px 30% 700px 40px 40px;
    align-content: center;
    align-items: center;
}
.product_header > h1 {
    grid-column: 2/3;
    margin-bottom: 45px;
}
#filter {
    grid-column: 4/5;
}
.product_grid {
    margin-left: 60px;
    margin-bottom: 45px;
    display: grid;
    grid-template-rows: 1fr 30px 1fr 30px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row-gap: 15px;
}
.product_grid_label_1 {
    grid-row: 2/3
}
.product_grid_label_2 {
    grid-row: 4/5;
}
