@import "./colours.css";
@import "./sizing.css";
@import "./typography.css";
/* Colours */
a {
    text-decoration: none;
}
.orange_links{
    color: var(--color-link);
    text-decoration: underline;
}
.orange_links:hover {
    color: var(--color-secondary-dark);
}
.cart_product_charity, .homepage_instruction_subtext{
    color: var(--color-sub-light);
}

