@import "../styles/colours.css";
@import "../styles/sizing.css";
@import "../styles/typography.css";
@import "../styles/buttons_styles.css";
@import "../styles/links_styles.css";  


.product_item_container {
    display: grid;
    grid-template-rows: 0.25fr 1fr;
    grid-template-columns: 0.7fr 2fr 2fr;
    padding-bottom: var(--size-mml);
}
.product_header_container {
    grid-column: 2/3;
}
.product_item_container section + section {
    margin-left: var(--size-lg);
}
.cart_total {
    display: flex;
    grid-column: 3/4;
}
.cart_product_charity {
    margin-bottom: auto;
}
.cart_product_hr {
    width: 35em;
}
.cart_products {
    grid-column: 2/3;
    
}
.cart_product_item {
    width: 35em;
    display: grid;
    grid-template-columns: 0.3fr 0.75fr 0.5fr;
}
.cart_product_img {
    grid-column: 1/2;
    width: 8em;
}
.cart_product_img > img {
    width: var(--size-full);
}
.cart_product_info {
    display: flex;
    flex-direction: column;
    grid-column: 2/3;
    padding-left: var(--size-px-ml);
}
.cart_product_price_qty {
    display: flex;
    flex-direction: column;
}
.cart_product_info > h3 {
    padding-bottom: var(--size-px-xs);
    font-size: 16px;
}
.cart_product_opt {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    grid-column: 3/4;
}
.cart_product_price {
    font-weight: var(--font-weight-lg);
}
.delete_icon {
    width: var(--size-px-ml);
    height: var(--size-px-ml);
}
.delete_icon:hover {
    cursor: pointer;
}
#donation_img {
    width: 25em;
    height: var(--size-mega);
}
#donation_img > img {
    width: 100%
}

@media screen and (max-width: 1400px) {
    .product_item_container {
        display: grid;
        grid-template-rows: 0.25fr 1fr;
        grid-template-columns: 0.35fr 2fr 2fr;
        padding-bottom: var(--size-mml);
    }
}

@media screen and (max-width: 1100px) {
    .cart_product_item, #cart_product_hr {
        width: 33em;
        display: grid;
        grid-template-columns: 0.3fr 0.75fr 0.5fr;
    }
    #donation_img {
        width: 23em;
    }
    .product_item_container section + section {
        margin-left: 4em;
    }
}

@media screen and (max-width: 1100px) {
    .cart_product_item, #cart_product_hr {
        width: 30em;
        display: grid;
        grid-template-columns: 0.3fr 0.75fr 0.5fr;
    }
    #donation_img {
        width: 22em;
    }
}


@media screen and (max-width: 930px) {
    .cart_product_item, #cart_product_hr {
        width: 28em;
        display: grid;
    }
    #donation_img {
        width: 20em;
    }
    .product_item_container section + section {
        margin-left: 4em;
    }
    .cart_product_img {
        grid-column: 1/2;
        width: 7em;
    }
    .cart_product_info {
        padding-left: 15px;
    }
}

@media screen and (max-width: 800px) {
    .product_item_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 400px) {
    .product_header_container, .cart_products {
        align-self: flex-start;
        margin-left: 20px;
    }
    .product_item_container section + section {
        margin-left: 0em;
    } 
    .cart_product_info > h3 {
        font-size: 14px;
    }
    .cart_product_info > p {
        font-size: 12px;
    }
    .cart_product_img {
        grid-column: 1/2;
        width: 6em;
    }
    .cart_product_item, #cart_product_hr {
        width: 22em;
    }
    .total_grid {
        align-self: flex-end;
    }
    #donation_img {
        margin-top: 60px;
    }
}