@import "./colours.css";
@import "./sizing.css";
@import "./spacing.css";
@import "./typography.css";


* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
nav {
    margin-left: 4em;
    margin-right: 4em;
}
nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    align-items: center;
}
.nav_box li {
    margin-left: 2em;
}
#li_1 + #li_2 {
    margin-left: 3.5em;
}
@media screen and (max-width: 1060px) {
    .nav_box li {
        font-size: var(--text-xxs);
        display: flex;
        flex-wrap: nowrap   ;
    }
}
@media screen and (max-width: 850px) {
    .nav_box li {
        font-size: 10px;
        display: flex;
        flex-wrap: nowrap   ;
    }
}
.icon {
    width: 20px;
    height: 20px
}

#logo_img {
    display: flex;
    width: 60px;
    height: 30px;
}
nav {
    font-family: 'Josefin Sans', sans-serif;
}
#li_1 > ul {
    display: flex;
    background-color: aquamarine;
}
.nav_burger {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.nav_burger li ul {
    align-items: baseline;
    align-content: baseline;
    display: flex;
    flex-direction: column;
}



/* * {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;}
nav {
    width: 100%;
    height: 80px;
}
nav ul{
    display: flex;
    flex-direction: row;
}
nav li:first-child {
    margin-right: auto;
}
nav li:nth-child(2) {
    margin-right: auto;
    
}
li ul li,a {
    margin-right: 2em;
}
#main_title {
    font-family: var(--font-heading);
    font-size: 30px;
}
.logo_combo {
    width: 100%;
    background-color: aqua;
    display: flex;
    align-items: baseline;
    align-content: baseline;
}
svg {
    width: 35px;
    height: 30px;
    padding: 10px;
}
body {
    min-width: 100vh;
}
nav ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav li {
    height: 50px;
}
nav a {
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: black;
}
nav li:first-child {
    margin-right: auto;
} */
/* .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: white;
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    backdrop-filter: blur(10px);

    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}  */


/* 

nav {

    color: var(--color-sub-dark);

    
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

   
    margin-top: var(--space-s);

   
    transition: 0.3s;
}
li > p > a {
    color: var(--color-sub-dark);
}
li > p > a:hover {
    color: var(--color-primary);
}
ul li > a {
    color: var(--color-sub-dark);
}
ul li > a:hover {
    color: var(--color-primary);
}

.nav_options, .log_in, .nav_icons {
    display: flex;
    align-content: baseline;
    align-items: center;
}
.nav_logo_container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.sidebar {
    color: var(--color-light);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    backdrop-filter: blur(10px);
    background-color: var(--color-primary);
    box-shadow: -10px 0 10px rgba(0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.sidebar li, a {
    width: 100%
}

ul li {
    transform: translateX(-1em);
}
nav ul ul{
    transform: scale(1,0);
    transform-origin: top center;
    position: absolute;
    top: 100%;
    transition: 0.3s;
}
ul li:hover ul{
    display: flex;
    flex-direction: row;
    background-color:white;
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    transform: scale(1,1);
    transition: 0.3s;
}
nav img {
    width: var(--size-px-xl);
    height: var(--size-px-ml);

    padding: var(--size-xxxs);
    margin: var(--size-none);

}
.nav_icons {
    margin: var(--space-none);
    padding: var(--space-none);
    border: var(--space-none);
}
.nav_icons li + li {
    margin-left: var(--space-px-sm);
}
.nav_icons > li > img {
    width: var(--size-px-sm);
    height: var(--size-px-sm);
}
li ul li {
    width: var(--size-m);
}
.nav_options {
    margin-left: var(--space-md);
}
.nav_options li + li {
    margin-left: var(--space-px-sm);
}
#logo {
    padding-left: var(--space-none);
}
.nav_logo_container > img {
    margin-left: var(--space-md);
    margin-bottom: var(--space-px-xs);
    margin-right: var(--space-none);
}  
li ul li {
    padding-top: var(--space-px-sm);
    padding-bottom: var(--space-px-sm);
}
li ul li + li {
    padding-left: var(--space-lx);
}

li ul li {
    list-style-type: none;
    font-family: var(--font-heading);
}
li ul > li:not(#bday_nav):hover {
    text-decoration: underline;
}
nav ul {
    list-style-type: none;
}
.nav_logo_container > h1 {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-sm);
}
ul li > p , a { 
    font-size: var(--text-md);
}
ul li > a {
    font-size: var(--text-sm);
}  */