@import "colours.css";
@import "sizing.css";
@import "spacing.css";
@import "typography.css";

* {
    padding: var(--size-none);  
    margin: var(--size-none);  
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
/* Icons: main */
.nav_icons_container {
    display: flex;
    height: var(--size-full); 
    align-items: center;
    gap: var(--size-px-xxl);
}
.nav_icon {
    width: var(--size-px-sm);
    height: var(--size-px-sm);
}
.logo_img {
    width: var(--size-px-xxl);
    height: var(--size-px-md);
}
/* Side Nav */
#exit_icon {
    margin: var(--size-none);  
}
.hamburger_container {
    display: none;
}
#side_nav {
    height: var(--size-full); 
    width: var(--size-none);  
    position: fixed;
    z-index: 1;
    top: var(--size-none);  
    left: var(--size-none);  
    background-color: var(--color-primary);
    overflow-x: hidden;
    /* transition: 0.5s; */
    padding-top: var(--size-px-xl);
}
.side_nav_drop_item {
    display: none;
    color: var(--color-light);
    margin-top: var(--size-px-xs);
    margin-left: var(--size-px-sm);
}
.side_nav_log {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: var(--size-px-xxs);
    font-family: var(var(--font-body));
    background-color: var(--color-light);
    width: var(--size-lx);
    height: var(--size-px-ml);
    padding:var(--size-px-xxs);
    color: var(--color-primary);
    margin-left: var(--size-smm);
    margin-top: var(--size-mega);
}
#side_nav hr {
    width: var(--size-xll);
    margin-left: var(--size-px-s);
    color: var(--color-light);
}
.side_nav_sml{
    margin-left: var(--size-dm);
    font-family: 'Josefin Sans', sans-serif;
    font-size: var(--size-px-sm);
    display: flex;
    flex-direction: column;
    align-items: baseline;
    color: var(--color-light);
}
.side_nav_sml_disp li {
    margin-bottom: var(--size-px-sm);
}
#side_nav a {
    color: var(--color-light);
}

ul li {
    transform: translateX(0em);
}
li ul ul{
    transform: scale(1,0);
    transform-origin: top center;
    position: absolute;
    top: var(--size-full); 
    transition: 0.3s;
}
.nav_options_container li:hover ul{
    display: flex;
    flex-direction: row;
    background-color:var(--color-light);
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
    transform: scale(1,1);
    transition: 0.3s;
}

/* Main Nav */
nav {
    font-family: var(--font-heading);
}
nav hr {
    width: var(--size-full); 
}
#heading_title {
    font-size: var(--size-px-md);
    color: var(--color-dark);
}
.nav_container {
    margin-top: var(--size-xs);
    display: flex;
    width: 100%;
    justify-content: center;
    padding: var(--size-none);  
}
.navbar {
    display: flex;
    width: var(--size-full); 
    max-width: var(--size-nav);
    height: var(--size-px-g);
    justify-content: space-between;
    padding: var(--size-none);  
}
.nav_options_container a:hover {
    color: var(--color-primary);
    text-decoration: underline;
}
nav a,li {
    color: var(--color-nav);
}
.nav_heading_container {
    display: flex;
    width: var(--size-full); 
    height: var(--size-full); 
    justify-content: space-between;
    align-items: baseline;
    align-content: center;
    margin-top: var(--size-px-sm);
}
.nav_options_container {
    display: flex;
    flex-direction: row;
    height: var(--size-full); 
    align-items: center;
    gap: var(--size-px-xxl);
    margin: var(--size-none) var(--size-px-xs);
}
li ul li {
    font-size: 1rem;
}
/* Drop down menu */
.drop_down_menu {
    display: flex;
    flex-direction: row;
    padding: var(--size-px-sm);
    align-items: center;
    width: var(--size-mega); 
}
.drop_down_menu li + li {
    margin-left: var(--size-sm);  
}
@media screen and (max-width: 1250px) {
    .navbar  {
        padding-left: 2em;
        padding-right: 2em;
    }
    
}

@media screen and (max-width: 1200px) { /* Surface Pro */
    li ul li {
        font-size: 0.85rem;
    }
    #heading_title {
        font-size: 22px;
    }
    .nav_options_container,
    .nav_icons_container {
        gap: var(--size-px-md);
    }
    .navItemsContainer {
        margin-left: var(--size-ml);
    }
    .nav_icon {
        width: var(--size-px-s);
        height: var(--size-px-s);
    }
}
@media screen and (max-width: 800px) { /* In between size */
    .nav_options_container {
        margin: var(--size-none);  
    }
    .nav_icons_container {
        width: auto;
        gap: var(--size-px-xs);
    }
    .nav_heading_container {
        width: var(--size-px-gr);
    }
    .nav_icons_container li {
        font-size: 0.75rem;
    }
}
@media screen and (max-width: 790px) { /* Small Size */
    .navbar {
        padding-left: var(--size-none);
        padding-right: var(--size-none);  
    }
    .lg_disp {
        display: none;
    }
    #hamburger_icon {
        margin-right: var(--size-px-xxxs);
    }
    .hamburger_container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-left: var(--size-px-sm);
    }
    .side_nav_burger {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-right: var(--size-lg);
        margin-left: var(--size-px-sm);
        padding-bottom: var(--size-sm);
    }
    ul li img {
        margin-right: var(--size-px-sm);
    }
    .logo_img_small {
        margin-bottom: var(--size-px-xs);   
    }
}