@import "./colours.css";
@import "./sizing.css";
@import "./spacing.css";
@import "./typography.css";

.product_grid_container {
    display: flex;
    justify-content: center;
}
.product_grid {
    max-width: 95%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    gap: var(--size-px-ml);
    padding-bottom: var(--size-px-xxxl);
}
.product_card {
    display: flex;
    flex-direction: column;
    width: var(--size-xll);
}
.product_card img {
    width: var(--size-full);
    filter: drop-shadow(0 10px 8px rgb(0 0 0 / 0.04)) drop-shadow(0 4px 3px rgb(0 0 0 / 0.1));
}
.product_card p {
    margin-top: var(--size-px-s);
}
@media screen and (max-width: 1250px) {
    .product_grid {
        gap: var(--size-dm);
    }
    .product_card {
        display: grid;
        width: var(--size-xl);
    }
}
@media screen and (max-width: 1100px) {
    .product_grid {
        gap: var(--size-m);
        /* grid-template-columns: repeat(4, 11em); */
    }
    .product_card {
        width: var(--size-x);
    }
    .product_card p {
        font-size: var(--size-input-small);
    }
}
@media screen and (max-width: 1000px) {
    .product_grid {
        gap: var(--size-md);
        /* grid-template-columns: repeat(4, 10em); */
    }
    .product_card {
        width: var(--size-lx);
    }
}
@media screen and (max-width: 913px) {
    .product_grid {
        gap: var(--size-s);
    }
    
}
@media screen and (max-width: 850px) {
    .product_grid {
        gap: var(--size-dm);
    }
}
@media screen and (max-width: 730px) {
    .product_grid {
        gap: var(--size-sm);
    }
}
@media screen and (max-width: 700px) {
    .product_grid {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
}


