@import "./colours.css";
@import "./layout.css";
@import "./sizing.css";
@import "./spacing.css";
@import "./typography.css";

.progress_bar {
    display: flex;
    flex-direction: row;
    align-items: center;

    /*Spacing*/
    margin-left: var(--space-px-xxl);
    margin-top: var(--space-px-md);
}
.progress_bar p {
    color: var(--color-sub-light);
}
.progress_bar a {
    font-size: var(--text-sm);

    /*Typography*/
    text-decoration: underline;
}
.progress_bar a , p {
    margin: var(--space-px-xxs);

    /*Typograhy*/
    font-family: var(--font-body);
}
