:root {
    --size-full: 100%;
    /* Em */
    --size-none: 0em;
    --size-xxxs: 0.5em;
    --size-xxs: 0.75em;
    --size-xs: 1em;

    --size-s: 1.5em;
    --size-sm: 2em;
    --size-smm: 2.5em;
    --size-dm: 3em;
    --size-d: 3.5em;
    --size-md: 4em;
    --size-m: 5em;
    --size-ml: 6em;
    --size-mml: 7em;

    --size-lg: 8em;
    --size-g: 9em;
    --size-lx: 10em;
    --size-x: 11em;
    --size-xl: 12em;
    --size-xx: 13em;
    --size-xll: 14em;
    --size-l: 15em;

    --size-xxl: 16em;
    --size-xxxl: 18em;
    --size-xm: 19em;
    --size-xmm: 19.5em;
    --size-mega: 20em;
    --size-mega-m: 25em;
    --size-mega-a: 30em;
    --size-mega-b: 35em;
    
    /* Pixels */
    --size-px-ultra-mini: 1px;
    --size-px-mini: 1.5px;
    --size-px-xxxs: 2px;
    --size-px-xxs: 5px;
    --size-px-xs: 10px;

    --size-px-s: 15px;
    --size-px-sm: 20px;
    --size-px-md: 25px;
    --size-px-ml: 30px;

    --size-px-lg: 35px;
    --size-px-xl: 40px;

    --size-px-xxl: 45px;
    --size-px-xll: 50px;
    --size-px-xlll: 55px; 
    --size-px-xxxl: 60px; 
    --size-px-grr: 65px;
    --size-px-gr: 70px;
    --size-px-g: 80px;

    /* Size Nav */
    --size-side-nav-hr: 12.5px;
    --size-nav: 1200px;

    /* Size Footer */
    --size-footer-a: 22em;
    --size-footer: 22.5em;
    --size-footer-b: 23em;
    
    /* Size specific */
    --size-input-small: 12px;
}
