:root {
    /* Em */
    --size-none: 0em;
    --size-xxxs: 0.5em;
    --size-xxs: 0.75em;
    --size-xs: 1em;

    --size-s: 1.5em;
    --size-sm: 2em;
    --size-smm: 2.5em;
    --size-md: 4em;
    --size-m: 5em;
    --size-ml: 6em;

    --size-lg: 8em;
    --size-g: 9em;
    --size-lx: 10em;
    --size-xl: 12em;
    --size-xxl: 14em;
    --size-l: 15em;

    --size-xxl: 16em;
    --size-xxxl: 18em;
    --size-mega: 20em;
    /* Pixels */
    --size-px-mini: 1.5px;
    --size-px-xxxs: 2px;
    --size-px-xxs: 5px;
    --size-px-xs: 10px;

    --size-px-s: 15px;
    --size-px-sm: 20px;
    --size-px-md: 25px;
    --size-px-ml: 30px;

    --size-px-lg: 35px;
    --size-px-xl: 40px;

    --size-px-xxl: 45px;
    --size-px-xxl: 50px; 
    --size-px-xxxl: 60px; 
    /* Specific sizing */
    --size-footer: 22.5em;
}
@media(max-width: 800px) {
    .hideOnMobile {
        display: none;
    }
}
    @media(max-width: 400px) {
        .sidebar {
            width: 100%
        }
}