:root {
    /* Em */
    --space-none: 0em;
    --space-xxxs: 0.25em;
    --space-xxs: 0.375em;
    --space-xs: 0.5em;

    --space-s: 0.75em;
    --space-sm: 1em;
    --space-md: 1.5em;
    --space-ml: 1.75em;

    --space-lg: 2em;
    --space-lx: 3em;

    --space-xl: 3.25em;
    --space-lx: 4em;
    --space-xxl: 5em;
    --space-xxxl: 8.5em;

    /* Pixels */
    --space-px-xxxs: 2px;
    --space-px-xxs: 5px;
    --space-px-xs: 10px;

    --space-px-s: 15px;
    --space-px-sm: 20px;

    --space-px-md: 30px;
    --space-px-lg: 45px;

    --space-px-xl: 60px;
    --space-px-xxl: 80px;

    /* Specific sizing */
    --heading-line-height: 1.2em;
    --body-line-height: 1.4em;
    --space-footer-section: 13em;
    --space-nav-logo: 6.5em;
}
body {
    margin: var(--space-none);
}

