:root {
    /* Em */
    --space-none: 0em;
    --space-xxxs: 0.25em;
    --space-xxs: 0.375em;
    --space-xs: 0.5em;

    --space-s: 0.75em;
    --space-sm: 1em;
    --space-md: 1.5em;
    --space-ml: 1.75em;

    --space-lg: 2em;
    --space-lx: 3em;

    --space-xl: 3.25em;
    --space-lx: 4em;
    --space-xxl: 5em;
    --space-xxxl: 8.5em;

    /* Pixels */
    --space-px-xxxs: 2px;
    --space-px-xxs: 5px;
    --space-px-xs: 10px;

    --space-px-s: 15px;
    --space-px-sm: 20px;

    --space-px-md: 30px;
    --space-px-lg: 45px;

    --space-px-xl: 60px;
    --space-px-xxl: 80px;

    /* Specific sizing */
    --heading-line-height: 1.2em;
    --body-line-height: 1.4em;
    --space-footer-section: 13em;
    --space-nav-logo: 6.5em;
}
body {
    margin: var(--space-none);
}
/* Links */
.progress_bar {
    margin-left: var(--space-px-xxl);
    margin-top: var(--space-px-md);
} 
/* Titles */
#display_text, #display_sub {
    margin: var(--space-none);
}
.product_header > h1 {
    margin-bottom: var(--space-px-lg);
}
/* Nav Bar */
nav {
    margin-top: var(--space-s);
}
.nav_options li + li {
    margin-left: 1em;;
}
.nav_options {
    margin-left: 4em;
}
#logo {
    margin-bottom: var(--space-px-xs);
    margin-right: var(--space-none);
}  
.nav_icons {
    margin: 0%;
    padding: 0%;
    border: 0%;
}
.nav_icons li + li {
    margin-left: 1em;
}

/* .nav_icons img {
    margin: 0%;

}
#log_in {

    width: 8em;
}
.nav_logo_container {
    gap: var(--space-none);
    margin-right: var(--space-nav-logo)
}
.nav_icons {

    margin-right: var(--space-lx);
} */ 
/* Progress Bar */
.progress_bar a , p {
    margin: var(--space-px-xxs);
}
/* Footer */
.footer_section > div > img + img {
    margin-left: var(--space-px-s);
}
.footer_section + .footer_section {
    margin-left: var(--space-footer-section);
}
.footer_section > h3 + p {
    margin-top: var(--space-xs);
}
.footer_section p {
    margin-top: var(--space-px-xxs);
    margin-bottom: var(--space-none);
}
.footer_section input {
    margin-top: var(--space-xs);
}
.footer_section > h3 > div > img {
    margin-top: var(--space-xs);
}
#enter_your_email {
    margin-bottom: var(--space-xs);
}
#copyright {
    margin-top: var(--space-lx);
}
.footer_section > h3 + hr {
    margin-top: var(--space-none);
    margin-bottom: var(--space-xs);
}
.footer_section h3 {
    margin-bottom: var(--space-px-xxxs);
}
#mid_hr {
    margin-right: var(--space-lg);
}
/* Buttons */

/* Images & Icons */
.product_grid {
    margin-left: var(--space-px-xxl);
    margin-bottom: var(--space-px-lg);
}
/* Promo Message */

/* Total Box */
