@import "colours.css";
@import "sizing.css";
@import "typography.css";
@import "buttons-styles.css";

/* Total Box */
.total_grid {
    display: grid;
    grid-template-rows: 4fr 10fr 4fr;

    border: solid;
    border-color: var(--color-primary);
    border-radius: var(--size-px-xs);

    /* Sizing */
    width: var(--size-footer-a);
    padding: var(--size-px-s);
} 
.total_grid div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


#gst_box {
    align-items: center;
    color: var(--color-sub-light);
}
#total {
    color: var(--color-primary);
}
.cart_total {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: var(--size-footer-a);
}

/* Media Queries */
@media screen and (max-width: 1100px) {
    .total_grid {
        display: grid;
        grid-template-rows: 4fr 10fr 4fr;

        border: solid;
        border-color: var(--color-primary);
        border-radius: var(--size-px-xs);

        padding: var(--size-px-s);
        width: var(--size-mega);
    } 
}

@media screen and (max-width: 930px) {
    .total_grid {
        padding: var(--size-px-xs);
    } 
}