@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
    --font-heading: 'Josefin Sans', sans-serif;
    --font-body: 'Lato', sans-serif;
    --text-base-size: 1.25em;
    --text-scale-ratio: 1.25;
    /* Text */
    --text-xxs: 12px;
    --text-xs: 14px;

    --text-sm: 16px;
    --text-md: 20px;

    --text-lg: 24px;
    --text-xl: 30px;

    --text-display: 100px;
    /* Weight */
    --font-weight-xxxs: 100;
    --font-weight-xxs: 200;
    --font-weight-xs: 300;

    --font-weight-s: 400;
    --font-weight-sm: 500;

    --font-weight-md: 600;
    --font-weight-lg: 700;

    --font-weight-xl: 800;
    --font-weight-xxl: 900;
}
body {
    font-size: var(--text-sm);
    font-family: var(--font-body);
}
.heading {
    font-family: var(--font-heading);
}
.heading--page-title {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-sm);
}
