@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
:root {
    --font-heading: 'Josefin Sans', sans-serif;
    --font-body: 'Lato', sans-serif;
    /* Text */
    --text-xxxs: 10px;
    --text-xxs: 12px;
    --text-xs: 14px;
    --text-x: 15px;

    --text-sm: 16px;
    --text-s: 17px;
    --text-d: 18px;
    --text-md: 20px;
    --text-m: 22px;

    --text-lg: 24px;
    --text-l: 26px;
    --text-xl: 30px;
    --text-display-sml: 60px;

    --text-display: 100px;
    /* Weight */
    --font-weight-xxxs: 100;
    --font-weight-xxs: 200;
    --font-weight-xs: 300;

    --font-weight-s: 400;
    --font-weight-sm: 500;

    --font-weight-md: 600;
    --font-weight-lg: 700;

    --font-weight-xl: 800;
    --font-weight-xxl: 900;
}
body {
    font-size: var(--text-sm);
    font-family: var(--font-body);
}


.heading,nav {
    font-family: var(--font-heading);
}


.heading--page-title {
    font-size: var(--text-xl);
    font-weight: var(--font-weight-sm);
}
.heading--title {
    font-size: var(--text-l);
    font-weight: var(--font-weight-sm);
}

.display_text {
    font-size: var(--text-display-sml);
}


/* Media Queries */
@media screen and (max-width: 1050px) {
    .continue_browsing {
        font-size: var(--text-xs);
    }
    .card_price {
        font-size: var(--text-sm);
    }
    .progress_bar > a,p {
        font-size: var(--text-xs);
    }
}
@media screen and (max-width: 400px) {
    .heading--page-title {
        font-size: var(--text-lg);
    }
}

